footer {
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 100vh;
}

.footer_copyright {
    @media screen and (min-width: $screen-width-show-social-media-in-footer + 1px) {
        margin-top: 1em;
    }
}

