input, textarea {
    font-family: inherit;
}

.form-help {
    font-size: smaller;
    font-style: italic;
}

.contact-form input, .contact-form label {
    display: block;
}

.contact-form {
    margin: 3vw;
}

.contact-form :is(input[type="text"], input[type="email"], textarea) {

    $focus-outline: 2px solid $color-primary;

    font-size: var(--font-size);
    padding: 0.5em;
    border: 2px solid $text-color;
    background-color: black;
    color: $text-color;
    width: 100%;
    outline-offset: -2px;

    &::placeholder {
        color: $placeholder-grey;
    }

    &:focus {
        outline: $focus-outline;
        outline-offset: 2px;
        transition: outline-offset 200ms;
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:focus-visible {
        outline: $focus-outline;
        outline-offset: 2px;
        transition: outline-offset 200ms;
    }
}

.contact-form .input_touched:invalid:not(:focus-visible):is(input[type="text"], input[type="email"], textarea) {
    border: 2px solid red;
}

.contact-form label {
    margin-bottom: 0.5em;
}

.contact-form label:not(:first-child) {
    margin-top: calc(1em + 3vh);
}

.contact-form textarea {
    resize: vertical;
    height: 8em;
}

.contact-form .contact-form_valid-message {
    display: none;
}

.contact-form:invalid .contact-form_valid-message {
    display: block;
    margin-top: 1em;
    color: $color-primary;
}

.contact-form_success-message, .contact-form_fail-message {
    background-color: #333;
    padding: 1.5em;
}

.contact-form_result-message {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.contact-form_result-message_icon {
    font-size: 50px;
    display: flex;
    align-items: center;
}

.contact-form_result-message_text {
    display: flex;
    align-items: center;
    position: relative;
    top: -0.2em;
}

input[type="checkbox"] {
    accent-color: $color-primary;
    width: 20px;
    height: 20px;
    vertical-align: -0.1em
}
