$inner-container-side-padding: 20px;

body {
    margin: 0;
    background: url("/images/bg_tesselate.jpg");
    background-size: 1200px 800px;
    min-height: 100%;
}

html {
    height: 100%;
    font-family: Optima, Verdana, arial, sans-serif, serif;
    background-color: black;
    --font-size: calc(16px + 0.25vw);
    font-size: var(--font-size);
    color: $text-color;
}

html, body {
    width: 100%;
}

*:not(img) {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
}

@keyframes showAltText {
    from {
        color: transparent;
        text-decoration: none;
    }
    to {
        color: $color-primary;
        text-decoration: underline;
    }
}

.img-link {
    // An anchor containing an img. text-underline properties of img inherit from parent a, and cannot be over-ridden
    // in Firefox, so need to put these properties on the containing anchor element

    // The following is to initially prevent
    color: transparent;
    text-decoration: none;
    animation-name: showAltText;
    animation-duration: 0ms;
    animation-timing-function: ease;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

summary {
    cursor: pointer;
    margin-bottom: 0.5em;
}

.inner-container {
    margin: auto;
    max-width: 920px;
    padding: 0 $inner-container-side-padding 20px;
    display: flow-root;

    &_narrow {
        max-width: 670px;
    }
}

.inner-container {
    margin-top: 0;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

label {
    cursor: pointer;
}
