header {
    border-bottom: 2px solid black;
    padding-top: 10px;
    margin-block-end: 1em;
}

.header_logo {
    margin-left: 40px;
}

.header_logo {
    max-width: 100%;
}


@media screen and (max-width: 380px) {
    .header_logo {
        margin: auto;
        display: block;
        height: auto;
    }
}

.nav-active {
    //text-decoration: underline;
    //text-underline-offset: 7px; //Waiting on Chromium support
    color: $color-primary;
    position: relative;

    .a_context {
        &, &:visited {
            color: $color-primary;
        }

        &:hover, &:focus {
            color: $text-color;
        }
    }
}

.nav-active.nav-active__exact::before {
    display: block;
    width: calc(100% - 2rem);
    height: 1px;
    content: "";
    background-color: $color-primary;
    position: absolute;
    bottom: 6px;
}

.nav-active.nav-active__exact::after {
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $color-primary;
    content: "";
    position: absolute;
    bottom: -4px;
    left: calc(50% - 5px);
}
