// Note that masonry using css grid is limited to 10,000 rows in Chrome: https://bugs.chromium.org/p/chromium/issues/detail?id=688640
// This is mitigated by not using css grid for single column, and making the brick height a multiple of 2
// This allows for around 35 images per masonry wall

$masonry-column-width: 200px;
$masonry-gap: 15px;

.masonry_wall {
    display: grid;
    grid-template-columns: repeat(4, $masonry-column-width);
    grid-template-rows: 3px;
    grid-auto-flow: dense;
    grid-gap: 0 $masonry_gap;
    width: #{4 * ($masonry-column-width + $masonry-gap) - $masonry-gap};
    max-width: 100%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .masonry_wall {
        grid-template-columns: repeat(3, $masonry-column-width);
        width: #{3 * ($masonry-column-width + $masonry-gap) - $masonry-gap};
    }
}

@media screen and (max-width: 760px) {
    .masonry_wall {
        grid-template-columns: $masonry-column-width $masonry-column-width;
        width: #{2 * ($masonry-column-width + $masonry-gap) - $masonry-gap};
    }
}

@media screen and (max-width: 560px) {
    .masonry_wall {
        display: block;
        width: $masonry-column-width;
    }

    .masonry_brick {
        display: table;
    }
}

.masonry_brick {
    max-width: 100%;
}

$aspect-ratios:
    ("name": "3to1", "width": 3, "height": 1)
    ("name": "2to1", "width": 2, "height": 1)
    ("name": "3to2", "width": 3, "height": 2)
    ("name": "4to3", "width": 4, "height": 3)
    ("name": "1to1", "width": 1, "height": 1)
    ("name": "3to4", "width": 3, "height": 4)
    ("name": "2to3", "width": 2, "height": 3)
    ("name": "1to2", "width": 1, "height": 2)
    ("name": "a4landscape", "width": 297, "height": 210)
    ("name": "a4portrait", "width": 210, "height": 297)
;

@each $aspect-ratio in $aspect-ratios {
    .masonry_brick_#{map-get($aspect-ratio, "name")} {
        $brick-height: round(200 * (map-get($aspect-ratio, "height") / map-get($aspect-ratio, "width"))  + $masonry-gap / 1px);
        $row-span: round($brick-height / 3); //Rows are 3px high, to economise on #of rows for Chromium
        grid-row: auto / span #{$row-span};
        height: #{$brick-height}px;
    }
}

.masonry_brick img {
    margin-bottom: 15px;
}
