//Confusing conflation of header terminology

.header-container .inner-container {
    position: relative;
}

.header-container .inner-container:after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $text-color;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-container {
    padding: 2vw 0;
    display: flow-root;
    background-image: linear-gradient($color-primary, transparent);
    margin-block-start: -1em;
}

.header-container_img{
    float: left;
    margin-right: 30px;
}
