$line-height: 1.4;

html {
    line-height: $line-height;
}

@mixin title-font {
    font-family: Optima, Impact, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 3px;
    font-weight: normal;
    @include title-font;
}

p {
    margin-bottom: 24px;
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $color-primary;
    text-underline-offset: 5px;
}

a:visited {
    color: $visited-link-color;
}

a:focus, a:hover {
    color: $text-color;
}

.a_context, .a_context:visited {
    color: $text-color;
}

.a_context:hover, .a_context:focus {
    color: $color-primary;
}

a:focus {
    /*outline: none;*/
    /* have set manually for text, but not other elements */
}

.subtle-text {
    color: $subtle-text-color;
    font-size: smaller;
}

.text-center {
    text-align: center;
}

.smaller {
    font-size: smaller;
}

.larger {
    font-size: larger;
}
