/public/
/node_modules/
/vendor/
.DS_Store
/src/metadata_images/
sitemap.xml
.staging.env
.production.env
/reports/
src/static/data
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/src/static/photos/*/*.png
