.the-image_title {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.the-image_location {
    font-size: 1.3em;
    letter-spacing: 0.05em;
    @include title-font;
    font-style: italic;
}

.the-image_container {
    position: relative;
    display: table;

    img {
        display: block;
    }
}

.the-image_prev, .the-image_next {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 30%;
    font-size: 3em;

    &:after {
        right: 1em;
        display: block;
        content: "";
        height: 100%;
        top: 0;
        position: absolute;

    }
}

.the-image_prev {
    left: -1em;

    &:after {
        right: 0;
        left: 1em;
    }

    &:hover:after {
        background-image: linear-gradient(to right, transparentize($color-primary, 0.5), transparent);
    }
}

.the-image_next {
    right: -1em;
    direction: rtl;

    &:after {
        left: 0;
        right: 1em;
    }

    &:hover:after {
        background-image: linear-gradient(to left, transparentize($color-primary, 0.5), transparent);
    }
}

.image-details {
    margin-top: 1.5em;
}

.image-details_list {
    margin-top: 0.5em;
    list-style-type: none;
    padding-left: 0;

    &-item {
        display: flex;
        flex-direction: row;
    }

    .ico {
        margin-right: 1em;
        position: relative;
        flex-shrink: 0;
        top: 0.11em; // Align with capital letter
    }
}

.comma-list {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;

    > li {
        display: inline-block;

        &:not(:last-child)::after {
            content: ",";
        }
    }
}

@media screen and (min-width: 1049px) {
    .the-image_prev, .the-image_next {
        .ico {
            position: absolute;
            top: 50%;
        }
    }
}

@media screen and (max-width: 1050px) {

    //Previous / next arrows need to go above photo

    $arrows-height: 2rem;

    .the-image_container img {
        margin-top: $arrows-height;
    }

    .the-image_prev, .the-image_next {
        font-size: 1.5em;

        &:after {
            top: $arrows-height;
        }
    }

    .the-image_prev, .the-image_next {
        &:after {
            height: auto;
            bottom: 0;
        }
    }

    .the-image_prev {
        left: 0;
    }

    .the-image_next {
        right: 0;
    }

    .the-image_prev:after {
        left: 0;
    }

    .the-image_next:after {
        right: 0;
    }
}
