@use "sass:color";

$color-primary: #efa929; /* #efa929 is AAA on black. Keep synchronised with meta theme colour in HTML */
$link-color: $color-primary;

$text-color: color.adjust($color-primary, $lightness: 35%, $saturation: -10%);
$subtle-text-color: color.adjust($color-primary, $lightness: -10%, $saturation: -75%);
$visited-link-color: color.adjust($color-primary, $lightness: -10%);
$placeholder-grey: color.adjust($color-primary, $lightness: -20%, $saturation: -25%);
