@use "colors";

input, textarea {
    font-family: inherit;
}

.form-help {
    font-size: smaller;
    font-style: italic;
}

.contact-form {
    margin: 3vw;

    input, label {
        display: block;
    }

    input[type="text"], input[type="email"], textarea {
        $focus-outline: 2px solid colors.$color-primary;

        font-size: var(--font-size);
        padding: 0.5em;
        border: 2px solid colors.$text-color;
        border-radius: 2px;
        background-color: black;
        color: colors.$text-color;
        width: 100%;
        outline-offset: -2px;

        &::placeholder {
            color: colors.$placeholder-grey;
        }

        &:focus {
            outline: $focus-outline;
            outline-offset: 2px;
            transition: outline-offset 200ms;
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:focus-visible {
            outline: $focus-outline;
            outline-offset: 2px;
            transition: outline-offset 200ms;
        }

        &.input_touched:invalid:not(:focus-visible) {
            border: 2px solid red;
        }
    }
}

.contact-form label {
    margin-bottom: 0.5em;
}

.contact-form label:not(:first-child) {
    margin-top: calc(1em + 3vh);
}

.contact-form textarea {
    resize: vertical;
    height: 8em;
}

.contact-form .contact-form_valid-message {
    display: none;
}

.contact-form:invalid .contact-form_valid-message {
    display: block;
    margin-top: 1em;
    color: colors.$color-primary;
}

.contact-form_success-message, .contact-form_fail-message {
    background-color: #333;
    padding: 1.5em;
}

.contact-form_result-message {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.contact-form_result-message_icon {
    font-size: 50px;
    display: flex;
    align-items: center;
}

.contact-form_result-message_text {
    display: flex;
    align-items: center;
    position: relative;
    top: -0.2em;
}
