@use "colors";

header {
    border-bottom: 2px solid black;
    padding-top: 10px;
    margin-block-end: 1em;
}

.header_logo {
    margin-left: 40px;
}

.header_logo {
    max-width: 100%;
}


@media screen and (max-width: 380px) {
    .header_logo {
        margin: auto;
        display: block;
        height: auto;
    }
}

.nav-active {
    text-decoration: underline;
    text-underline-offset: 7px;
    color: colors.$color-primary;
    position: relative;

    .a_context {
        &, &:visited {
            color: colors.$color-primary;
        }

        &:hover, &:focus {
            color: colors.$text-color;
        }
    }
}

.nav-active__exact::after {
    // Triangle
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: colors.$color-primary;
    content: "";
    position: absolute;
    bottom: -4px;
    left: calc(50% - 5px);
}
