.masonry_wall {
    --column-width-unitless: 200;
    --column-width: calc(var(--column-width-unitless) * 1px);
    --masonry-gap-unitless: 15;
    --masonry-gap: calc(var(--masonry-gap-unitless) * 1px);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width), max-content));
    justify-content: center;
    grid-template-rows: none;
    grid-auto-rows: 1px;
    grid-auto-flow: dense;
    grid-gap: 0 var(--masonry-gap);
    width: calc(calc(4 * (var(--column-width) + var(--masonry-gap))) - var(--masonry-gap));
    max-width: 100%;
    margin: auto;

    @media screen and (max-width: 471px) {
        --column-width-unitless: 180;
    }

    @media screen and (max-width: 431px) {
        --column-width-unitless:  160;
    }

    @media screen and (max-width: 411px) {
        --column-width-unitless: 150;
        --masonry-gap-unitless: 8;
    }

    @media screen and (max-width: 391px) {
        --column-width-unitless: 140;
    }
}

.masonry_brick {
    --brick-height-unitless: calc(var(--column-width-unitless) / var(--aspect-ratio) + var(--masonry-gap-unitless));
    --brick-height: calc(var(--brick-height-unitless) * 1px);
    max-width: 100%;
    grid-row: auto / span var(--brick-height-unitless);
    height: var(--brick-height);

    img {
        width: var(--column-width);
        height: auto;
    }

    picture {
        display: inline-flex;
        margin-bottom: var(--masonry-gap);
    }
}
