@use "colors";
@use "vars";


.header_sm, .footer_sm {
    display: inline-block;
    margin-right: 20px;

    &:hover .sm-link.sm-link:hover {
        transform: scale(1.2)
    }
}

.header_sm {
    float: right;
}

.footer_sm {
    display: block;
    text-align: center;
}

@media screen and (max-width: vars.$screen-width-show-social-media-in-footer) {
    .header_sm {
        display: none;
    }
}

@media screen and (min-width: vars.$screen-width-show-social-media-in-footer + 1px) {
    .footer_sm {
        display: none;
    }
}

.sm-link.sm-link {
    /* Why is higher specificity required - bug? */
    display: inline-block;
    font-size: 1.5em;
    color: colors.$text-color;
    padding: 20px 0.4em;
    text-decoration: none;
    transition: scale 0.3s;
}

.sm-link:hover {
    color: colors.$color-primary;
    text-decoration: none;

    .ico {
        fill: colors.$color-primary;
    }
}
