@use "colors";
@use "mixins";

:root {
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 3px;
    font-weight: normal;
    line-height: 1;
    @include mixins.title-font;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.5em
}

h3, .h3 {
    font-size: 1.2em;
}

h4, .h4 {
    font-size: 1em;
}

p {
    margin-bottom: 1lh;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: colors.$color-primary;
    text-underline-offset: 5px;
}

a:visited {
    color: colors.$visited-link-color;
}

a:focus, a:hover {
    color: colors.$text-color;
}

.a_context, .a_context:visited {
    color: colors.$text-color;
}

.a_context:hover, .a_context:focus {
    color: colors.$color-primary;
}

.subtle-text {
    color: colors.$subtle-text-color;
    font-size: smaller;
}

.text-center {
    text-align: center;
}

.smaller {
    font-size: smaller;
}

.larger {
    font-size: larger;
}
