// Styles to override vue-multiselect/dist/vue-multiselect.min.css

.multiselect__tag {
    background-color: $color-primary;
    color: black;

    &-icon {
        &::after {
            color: black;
        }

        &:hover, &:focus {
            background-color: darken($color-primary, 22%);
        }
    }
}

.multiselect__option--highlight {
    &, &:after {
        background-color: $color-primary;
        color: black;
    }
}

.multiselect__spinner:before {
    border-top-color: $color-primary;
}

.multiselect__option--selected, .multiselect__option--group-selected {
    &.multiselect__option--highlight {

        &, &:after {
            background-color: $color-primary;
            color: black;
        }
    }
}


.multiselect__tags {
    font-size: inherit;
}
